body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #005d7e;
}

header {
    background-color: #082745;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-menu, .right-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.left-menu li {
    position: relative;
}

.left-menu .dropdown {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.left-menu .dropdown svg {
    width: 24px; /* Ajustar el tamaño del logo */
    height: auto;
    margin-right: 8px; /* Espacio entre el logo y el texto */
    fill: white;
}

.left-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00688d;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: max-height 0.3s ease-out;
}

.left-menu li.show .dropdown-content {
    display: block;
}

.left-menu li:hover .dropdown-content {
    display: block;
}

.left-menu .dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.right-menu li {
    margin: 0 15px;
}

.right-menu a {
    color: #fdfeff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;  /* Centra el formulario horizontalmente */
    align-items: center;      /* Centra el formulario verticalmente */
    min-height: 70vh;          /* Solo centrar el formulario, no afecta al título */
}

form {
    background-color: #00688d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;              /* El formulario ocupará todo el espacio disponible hasta el máximo de 600px */
}


input, select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: #e74c3c;
}

footer {
    background-color: #3C5B6F;
    color: #ffffff;
    text-align: center;
    padding: 20px 0; /* Aumentar el padding para mejor apariencia */
    position: relative; /* Asegura que el footer esté en su lugar */
    bottom: 0; /* Posiciona al fondo de la página */
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para separación */
}

footer p {
    margin: 5px 0; /* Espaciado entre los párrafos */
}

footer a {
    color: #f1b05b;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}