body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #005d7e; /* Fondo general */
}

header {
    background-color: #082745; /* Azul oscuro */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-menu, .right-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.left-menu li {
    position: relative;
}

.left-menu .dropdown {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.left-menu .dropdown svg {
    width: 24px;
    height: auto;
    margin-right: 8px;
    fill: white;
}

.right-menu li {
    margin: 0 15px;
}

.right-menu a {
    color: #fdfeff;
    text-decoration: none;
    font-weight: bold;
}

/* Contenedor principal del formulario */
.container {
    width: 50%;
    margin: 50px auto;
    background: #00688d; /* Fondo azul claro para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff; /* Título en blanco */
}

/* Etiquetas */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

/* Campos de entrada de texto */
input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
    margin: 20px auto;
    display: block;
}

button:hover {
    background-color: #0056b3;
}

.confirmation {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f8f9fa;
    border-radius: 4px;
    text-align: center;
}
.icon-logout i {
    font-size: 24px; /* Ajusta el tamaño del ícono */
    color: #ffffff;  /* Cambia el color del ícono */
}

.icon-logout i:hover {
    color: #f1b05b;  /* Cambia el color cuando el ícono se pasa el mouse encima */
}


footer {
    background-color: #3C5B6F;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f1b05b;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
