/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #005d7e; /* Fondo oscuro */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff; /* Texto blanco */
}

/* Encabezado */
header {
    background-color: #082745; /* Fondo azul oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-menu, .right-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.right-menu li {
    margin-left: 15px;
}

.right-menu a {
    color: #fdfeff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para el enlace de eliminar usuario */
.left-menu li a {
    color: #007bff; /* Azul oscuro */
    text-decoration: none;
    font-weight: bold;
}

.left-menu li a:hover {
    color: #0056b3; /* Cambio de color al pasar el cursor */
}

/* Contenedor principal de formulario */
.container {
    width: 50%;
    margin: 50px auto;
    background-color: #00688d; /* Fondo azul claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
    text-align: center;
    color: #ffffff; /* Título en blanco */
}

/* Campos de entrada */
input[type="text"], input[type="email"], input[type="password"], select {
    width: 60%; /* Ajustamos el tamaño al 100% */
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 60%; /* Ajusta el ancho del botón */
    margin: 20px auto; /* Centra el botón */
    display: block;
}

button:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff; /* Azul para los encabezados */
    color: white;
}

tr:nth-child(even) {
    background-color: #003c52; /* Fila alternada con fondo más oscuro */
}

tr:nth-child(odd) {
    background-color: #004f6d; /* Fila impar con fondo azul oscuro */
}

/* Mensajes de error */
.error {
    color: #e74c3c;
    margin-bottom: 20px;
}
