/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #005d7e;
}

header {
    background-color: #082745;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-menu, .right-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.left-menu li {
    position: relative;
}

.left-menu .dropdown {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.left-menu .dropdown svg {
    width: 24px; /* Ajustar el tamaño del logo */
    height: auto;
    margin-right: 8px; /* Espacio entre el logo y el texto */
    fill: white;
}

.left-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00688d;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: max-height 0.3s ease-out;
}

.left-menu li.show .dropdown-content {
    display: block;
}

.left-menu li:hover .dropdown-content {
    display: block;
}

.left-menu .dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.right-menu li {
    margin: 0 15px;
}

.right-menu a {
    color: #fdfeff;
    text-decoration: none;
    font-weight: bold;
}

/* Main container */
main {
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;  /* Centra el formulario horizontalmente */
    align-items: center;      /* Centra el formulario verticalmente */
    min-height: 70vh;         /* Centra el formulario verticalmente */
    flex-direction: column;   /* Asegura que los formularios estén en una columna */
}

/* Contenedor de formulario */
form {
    background-color: #00688d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;              /* El formulario ocupará todo el espacio disponible hasta el máximo de 600px */
    display: flex;
    flex-direction: column;   /* Los elementos del formulario estarán uno debajo del otro */
    gap: 15px;                /* Espacio entre los campos */
}

/* Estilo para inputs, select y textarea */
input, select, button {
    padding: 10px;
    margin: 0; /* Elimina el margen de cada elemento */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Asegura que el ancho se ajuste con el borde */
}

/* Estilo para los botones */
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
}

button:hover {
    background-color: #0056b3;
}

/* Mensajes de error y éxito */
.error {
    color: #e74c3c;
}

.success-message {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 15px;
}

ul li strong {
    display: inline-block;
    margin-right: 10px;
}

/* Footer */
footer {
    background-color: #3C5B6F;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0; /* Espaciado entre los párrafos */
}

footer a {
    color: #f1b05b;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
