body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #005d7e; /* Azul claro para el fondo */
    color: #ffffff; /* Texto blanco en todo el cuerpo */
    box-sizing: border-box;
}

header {
    background-color: #082745; /* Azul oscuro para el encabezado */
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-menu, .right-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.left-menu li {
    position: relative;
}

.left-menu .dropdown {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.left-menu .dropdown svg {
    width: 24px; /* Ajustar el tamaño del logo */
    height: auto;
    margin-right: 8px; /* Espacio entre el logo y el texto */
    fill: white;
}

.left-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00688d;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: max-height 0.3s ease-out;
}

.left-menu li.show .dropdown-content {
    display: block;
}

.left-menu li:hover .dropdown-content {
    display: block;
}

.left-menu .dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.right-menu li {
    margin: 0 15px;
}

.right-menu a {
    color: #fdfeff;
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrado horizontal de los elementos */
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #f1f1f1; /* Color claro al hacer hover */
}

main {
    padding: 20px;
    max-width: 700px; /* Hacemos la tarjeta más ancha */
    margin: 40px auto; /* Se agrega un margen superior de 40px para separar la tarjeta del encabezado */
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
    text-align: center;
    color: #0033a0; /* Título en azul */
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0033a0; /* Etiquetas de los inputs en azul */
}

.input-group input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9; /* Fondo blanco suave para los inputs */
    color: #333; /* Texto oscuro para mejor legibilidad */
}

button {
    background-color: #007bff; /* Botón con fondo azul */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro al hacer hover */
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3C5B6F; /* Fondo azul oscuro en el pie de página */
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera en el footer */
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f1b05b; /* Enlaces en un color dorado para contrastar */
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline; /* Subrayado al hacer hover */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .input-group input,
    button {
        padding: 12px; /* Aumenta el padding de los inputs y botón en pantallas pequeñas */
    }

    nav ul {
        flex-direction: column; /* Menú de navegación en columna en pantallas pequeñas */
    }

    nav ul li {
        margin: 10px 0; /* Espaciado entre los elementos del menú */
    }
}
