body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #082745;
    color: #ffffff;
    padding: 10px 20px;
    text-align: right; /* Cambiado para alinear a la derecha */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(5, 1, 1, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    color: #0033a0;
}

form {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 5px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#user-list ul, #orders ul {
    list-style: none;
    padding: 0;
}

#user-list li, #orders li {
    margin: 5px 0;
}

footer {
    background-color: #3C5B6F;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 768px) {
    input {
        width: calc(100% - 10px);
    }
    
    button {
        width: 100%;
    }
}
