body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #082745;
    color: #ffffff;
    padding: 10px 20px;
    text-align: right; /* Cambiado para alinear a la derecha */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan */
    justify-content: space-around; /* Espaciado entre tarjetas */
    max-width: 1200px; /* Limitar el ancho máximo */
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Espaciado entre tarjetas */
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(5, 1, 1, 0.1);
    flex: 1 1 300px; /* Creación de tarjetas flexibles con un tamaño mínimo */
}

h2 {
    color: #0033a0;
}

form {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 5px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn-crear-usuario {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Espacio superior */
}

.btn-crear-usuario:hover {
    background-color: #0056b3;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#modify-user-form button {
    margin: 5px 0;
    width: calc(50% - 10px); /* Ajusta el tamaño de los botones */
}

#user-list ul, #orders ul {
    list-style: none;
    padding: 0;
}

#user-list li, #orders li {
    margin: 5px 0;
}

footer {
    background-color: #3C5B6F;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 768px) {
    input {
        width: calc(100% - 10px);
    }
    
    button {
        width: 100%;
    }

    .card {
        flex: 1 1 100%; /* Las tarjetas ocuparán todo el ancho en pantallas pequeñas */
    }
}
